<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <%= render :partial => "layouts/include/head" %>
</head>

<body>
<div id="wrapper">

    <!-- Header -->
    <div id="header">
        <%= render :partial => "layouts/include/header" %>
    </div>

    <div id="middle">

        <!-- Content -->
        <div id="container">
            <div id="content">
                <%= yield :layout %>
            </div>
        </div>

        <!-- Left pane -->
        <div class="sidebar sl">
             <%= render :partial => "layouts/include/left" %>
        </div>

        <!-- Right pane -->
        <div class="sidebar sr"></div>

    </div>

    <div id="footer">
        <%= render :partial => "layouts/include/footer" %>
    </div>
</div>
</body>
</html>